# Project 1 team 11.
---

### Team members

- Dylan Kelly
- Melissa Wegrzyn
- Sree Rana Pavan Vannemsetti
- Shengnan Ma

In [1]:
# Dependencies and Setup 
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np
from pathlib import Path
%matplotlib inline

# Path to CSV
life_expectency_path = Path("Resources/Life_Expectancy_Data_PRJ1.csv")

# Read CSV
life_expectency = pd.read_csv(life_expectency_path)
life_expectency.head()

# Life Expectancy Summary

,Country,Year,Status,Life expectancy (men),Life expectancy(women),Adult Mortality (men),Adult Mortality (women),Infant deaths,Alcohol,Percentage expenditure,...,Measles,BMI,Under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Schooling
0,Afghanistan,2015,Developing,70,66,67,65,62,0.01,71.279624,...,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59,67,73,85,64,0.01,73.523582,...,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,79,51,87,67,66,0.01,73.219243,...,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,65,81,63,91,69,0.01,78.184215,...,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,76,75,57,72,71,0.01,7.097109,...,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,9.5

In [ ]:
# change shengnan